* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #081b29;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: block;
  text-align: center;
  background-color: skyblue;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-width: 600px;
}

h1 {
  font-size: 1.5em;
  color: burlywood;
  margin-bottom: 1px;
  font-style: italic;
  top: 5px;
}

header {
  padding: 20px;
  text-align: center;
  font-size: 35px;
}

p {
  font-size: 1.5em;
  color: #333333;
  margin-top: 0;
}

.container a {
  text-decoration: none;
  color: #081b29;
  font-weight: 700;
  font-size: 20px;
  padding: 10px 20px;
}
